
<h1>&lt;Answers Component&gt;</h1>

<p>
	This component should show the corresponding list of <b>Answer</b> for the selected <b>Question</b> of the
	<b>Questions Component.</b>
</p>

<p>
	Further Specifications:
</p>

<ul>
	<li>
		The answers should be shown as a list of <b>AnswerText</b>.
	</li>

	<li>
		The answers should be ordered <b>lexicographically</b>.
	</li>

	<li>
		The answers should be colorized either <span style="color:green"><b>green</b></span> or <span
		      style="color:red"><b>red</b></span> based on the
		column <b>isCorrect</b>
	</li>

</ul>